<%- include('../head'); -%>
<%- include('../sidebar'); -%>
<%- include('../header'); -%>


<div class="content-wrap">

  <div class="main">
    <div class="container-fluid">

      <!-- /# row -->
      <section id="main-content">
        <div class="row">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3>Transactions</h3>
              </div>
              <br>

              <table class="table" id="tableListTransactions">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Key</th>
                    <th scope="col">User Sender</th>
                    <th scope="col">User Reciver</th>
                    <th scope="col">Requisition</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="tableListUsersList"></tbody>
              </table>

              <table class="table" id="tableTransactionInfo" hidden>
                <thead>
                  <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">Mime</th>
                    <!-- <th scope="col">Base64</th> -->
                    <th scope="col"></th>
                  </tr>              
                </thead>
                <tbody id="transactionInfo">
                  
                </tbody>                
              </table>
              
            </div>


            
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<%- include('../importScript'); -%>

<script src="/js/proArticle/listar.js"></script>
<script type="text/javascript">

// window.onload = function start(){
//   axios.get('/user/getUsers')
//     .then(function (response) {
//       console.log(response.data)
//     })
//     .catch(function (error) {
//         // handle error
//         console.log(error);
//     })
//     .finally(function () {
//         // always executed
//     });
// }

</script>

</body>

</html>