<%- include('head'); -%>
<%- include('sidebar'); -%>
<%- include('header'); -%>


<div class="content-wrap">

  <div class="main">
    <div class="container-fluid">

      <!-- /# row -->
      <section id="main-content">
        <div class="row">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3>Home</h3>
              </div>
              <br>

              <div class="row">
                <div class="col-md-12" style="text-align: justify; font-size: medium;">

                  <p>Projeto com o foco no estudo da proveniência de dados em uma rede de Blockchain para
                    transação de documentos.</p>
                    <div class="col-md-12" style="text-align: center; font-size: medium;">
                      <a href="/user" class="btn btn-primary btn active" role="button"
                        aria-pressed="true">Usuários</a>
                      <a href="/pro_article" class="btn btn-secondary btn active" role="button"
                        aria-pressed="true">Pro Article</a>
                    </div>
                </div>
              </div>
              <!-- Formulário -->

            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<%- include('importScript'); -%>

</body>

</html>