<!-- Side Bar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="/">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>Projeto IC UFJF</span></a></div>
            <ul>
                <li><a href="/"><i class="ti-home"></i>Home</a></li>    

                <li><a href="/network"><i class="ti-desktop"></i>Network</a></li>                
                
                <li><a class="sidebar-sub-toggle"><i class="ti-user"></i>User Org1<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/user/new">Cadastrar </a></li>
                        <li><a href="/user/get">Listar</a></li>
                    </ul>
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-user"></i>User Org2<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/company/new">Cadastrar </a></li>
                        <li><a href="/company/get">Listar</a></li>
                    </ul>
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-comments"></i>ProArticle<span
                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/pro_article/new">Enviar Documentos</a></li>
                        <li><a href="/pro_article/uploadFile">Upload</a></li>
                        <li><a href="/pro_article/get">List Transactions</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->